<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Simplifeed - Login</title>
    <meta name="description" content="Boilerplate for React with Express.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"></link>
    <% if (styles) { %>
        <link rel="stylesheet" type="text/css" href="<%= styles %>">
        <% } %>
</head>

<body>
    <div class="container">
        <form method="POST" action="/login" class="form-signin">
            <h2 class="form-signin-heading">Please log in</h2>

            <% if (errorMessage) { %>
                <div class="alert alert-danger">
                    <%= errorMessage %>
                </div>
                <% } %>

                    <label for="inputUsername" class="sr-only">Username</label>
                    <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        </form>
    </div>
